<nav>
   <div class="navbar">
        <a href="/" style="text-decoration: none;"><h1>RM</h1></a>
        <div class="rgt">
            <a href="/skills">Skills</a>
            <a href="mohammed.pdf#toolbar=0">Preview</a>
            <a href="/downloads">Download PDF</a>
        </div>
   </div>
   <i class='bx bx-menu' id="menu"></i>
   <i class='bx bx-x' id="can"></i>
        <div class="show">
            <ul>
                <li><a href="/skills">Skills</a></li>
                <li><a href="mohammed.pdf#toolbar=0">Preview</a></li>
                <li style="border-bottom: none;"><a href="/downloads">Download PDF</a></li>
            </ul>
        </div>
</nav>