<nav>
    <a href="/" style="text-decoration: none;"><h1>Mohammed CV</h1></a>
    <div class="rgt">
        <a href="/skills">Skills</a>
        <a href="mohammed.pdf#toolbar=0">Preview</a>
        <a href="/downloads">Download PDF</a>
    </div>
</nav>