<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CV.css">
    <title>Mohammed Blog</title>
</head>
<body>
    <div class="Hero">
      <%- include('partials/nav.ejs') %> 
       <div class="main">
          <main>
            <div class="main-info" style='padding: 20px; color: #f6f6f6;' >
              <h1>Hi, My Name is</h1>
              <h2>Mohammed Rufai</h2>
              <p style="line-height: 30px; margin-bottom: 12px; font-size: 18px; text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non ipsam molestias quod deleniti modi. Fuga, laborum voluptatibus? uam a distinctio in sit recusandae ab repudiandae maxime adipisci! Accusamus soluta magnam dolorem temporibus assumenda quasi! Atque facilis repellendus laudantium voluptas dicta?</p>
              <button class="btn" onclick="location.href='mohammed.pdf#toolbar=0'">Preview</button>
              <button class="btn" onclick="location.href='downloads'">Download</button>
            </div>
          </main>
        </div>
        <footer>
            &copy; CopyRight Mohammed Rufai 2023
        </footer>
    </div>
</body>
</html>